/* Commonly Use */
.clear{height:0;clear:both;}
.left{float: left;}
.right{float: right;}

#content {
	position: relative;
	-moz-box-shadow: 0px 4px 11px #c0c0c0;
	-webkit-box-shadow: 0px 4px 11px #c0c0c0;
	box-shadow: 0px 4px 11px #c0c0c0!important;
}
.contentTop-wrap {
	padding-bottom:30px;
}
.leftHeader {
	width: 440px;
	height: 280px;
	overflow: hidden;
	float: left;
}
.slider  {
	width: 440px;
	height: 250px;
	background: #101010;
	float: left;
	color: white;
	font-size: 24px;
}
.slider p {
	padding: 85px 0 59px 0;
	font: 24px 'Crete Round', serif;
}
.slider ul {
	background: #cf8328;
	width: 100%;
	margin: 0;
	padding: 0;
}
.slider li {
	background: url(../images/bullet-css_sprite.png) no-repeat 0 -13px;
	display: inline-block;
	width: 10px;
	height: 10px;
}
.slider .active {
	background-position: 0 0;
}
.slider .pause {
	background-position: 0 -27px;
}
.featured {

	background: url(../images/img-featured.jpg) no-repeat 0 0;
	width: 56%;
	float: right;
	height: 299px;
}
.featured .header {
	padding: 0 25px;
	height: 166px;
	margin-left: 23px;
	text-align: left;
	border-top: 1px solid #cf8328; 
	background:  #cf8328;
}
.featured h1 {
	font: 30px 'Crete Round', serif;
	color: #fff;
	margin: 0;
	padding: 18px 0 8px 0;
}
.featured p {
	font: 14px Helvetica, serif;
	color: #fff;
	line-height: 20px;
	margin: 0;
}
.donate {
	padding: 3px 0 0 23px;
	margin-left: 23px;
	background: #fff;
	height: 133px;
	box-shadow: -2px 6px 16px -3px #C7C3C3;
  	-moz-box-shadow: -2px 6px 16px -3px #C7C3C3;
  	-webkit-box-shadow: -2px 6px 16px -3px #C7C3C3;
}
.bar p {
	font: 17px 'Crete Round', serif;
	margin: 0;
	padding: 25px 0 18px 95px;
	line-height: 17px;
}
.bar span {
	font: 17px 'Crete Round', serif;
	color: #666;
}
.donate .bar {
	margin-bottom: 32px;
	float: left;
	height: 54px;
	width: 402px;
	background: url(../images/bars-css_sprite.png) no-repeat 0 0;
}
.btn-donate {
	background: url(../images/css_sprite.png) no-repeat -123px -156px;
	width: 94px;
	height: 36px;
	margin: 15px 15px 0 0;
	float: right;
}
.btn-donate p  {
	line-height: 38px;
	font-size: 14px;
	text-transform: uppercase;
}
.btn-donate a {
	color: #fff;
	padding: 5px 8px 6px 24px;
}
.learnMore {
	background: url(../images/css_sprite.png) no-repeat -10px -77px;
	float: left;
	width: 112px;
	height: 37px;
}
.learnMore p {
	font-size: 14px;
	line-height: 36px;
	padding-bottom: 0
}
.learnMore a {
	color: #fff;
	padding: 7px 17px;
}
.mainContent {
	width: 96%;
	margin: 0 auto;
}
#pageAside {
	float: left;
	padding: 9px;
	width: 199px;
	background: #f4f4f4;
	border: 1px solid #ddd;
	margin-top: 13px;
}
.advertise {
	background: #868686;
	width: 200px;
	margin: 0 auto;
	padding: 7px 0 28px 0;
	margin-bottom: 14px;
}
.advertise h1 {
	color: #fff;
	font: 27px 'Crete Round', serif;
	margin: 0;
}
.searchBtn {
	width: 100%;
	height: 48px;
	margin-bottom: 5px;
	padding-bottom: 24px;
	background: url(../images/img-seperator.jpg) repeat-x bottom;
}
.searchBtn p {
	font: 24px 'Crete Round', serif;
	margin: 0;
	line-height: 48px;

		background: #ce8327; /* Old browsers */
	background: -moz-linear-gradient(top,  #ce8327 0%, #a46d17 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce8327), color-stop(100%,#a46d17)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ce8327 0%,#a46d17 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ce8327 0%,#a46d17 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ce8327 0%,#a46d17 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ce8327 0%,#a46d17 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce8327', endColorstr='#a46d17',GradientType=0 ); /* IE6-9 */

 	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
  	border-radius: 6px; 
  	border: 1px solid #8C8C8C;
  	box-shadow: inset 0 1px 0px 0px #E7C194;
  	-moz-box-shadow: inset 0 1px 0px 0px #E7C194;
  	-webkit-box-shadow: inset 0 1px 0px 0px #E7C194;
}
.searchBtn p a {
	color: #fff;
	padding: 7px 25px;
}
.date {
	float: left;
}
.date h1 {
	font: 18px 'Crete Round', serif;
	color: #cf8328;
	margin: 0;
	text-align: left;
	padding-bottom: 17px
}
.date form {
	text-align: left;
	font: 12px 'Helvetica', serif;
	font-weight: bold;
	color: #666;
	padding-bottom: 6px;
}
.school {
	width: 179px;
	float: right;
}
.school p {
	font: 12px 'Helvetica', serif;
	text-align: left;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}
.school .inputSchool {
	border: 1px solid #bbb;
	font: 12px 'Helvetica', serif;
	color: #666;
	width: 93%;
	padding: 5px 5px;
}
.school ul {
	float: left;
	display: block;
	padding: 0;
	margin: 0 0 24px 0;
}
.school li {
	display: block;
	text-align: left;
	font: 12px 'Helvetica', serif;
	color: #666;
	line-height: 20px;
}
.school input {
	margin: 0 3px 0 0;
}
.selectState {
	text-align: left;
	display: block;
	margin-bottom: 6px;
	color: #666;
	font-size: 12px;
}
.searchTag {
	float: left;
	width: 93%;
	padding: 5px 5px;
	border: 1px solid #BBB;
	margin-bottom: 13px!important;
}
.advertise--2 {
	padding: 24px 0 78px;
	margin-bottom: 26px;
}
.borderBottom {
	background: url('../images/img-seperator.jpg') repeat-x bottom;
	height: 2px;
	margin-bottom: 29px;
}
#pageSection {
	position: relative;
	width: 77%;
	float: left;
	text-align: left;
}
.leftCol {
	width: 371px;
	float: left;
	background: url('../images/img-contentbg.jpg') no-repeat 0 0 #ddd;
}
.rightCol {
	width: 368px;
	float: right;
	background: url('../images/img-contentbg2.jpg') no-repeat 0 0 #ddd;

}
.rightCol span {
	color: #b12121;
}
.headerTitle {
	text-align: center;
	font: 24px 'Crete Round', serif;
	color: white;
	background: #CF8328;
	width: 358px;
	float: right;
}
.headerTitle h1 {
	margin: 0;
	padding: 9px 11px;
}
.bodyContent {
	background: #fff;
	width: 344px;
	float: right;
	padding: 0 7px 24px 7px;
	border-bottom: 1px solid #ddd;
}
.bodyContent h2 {
	font-size: 20px!important;
}
.featuredImage {
	float: left;
	padding-right: 9px;
}
.bodyContent p {
	font: 12px 'Helvetica Neue', serif;
	color: #666;
	line-height: 18px;
}
.bodyContent .bar {
	background: url('../images/bars-css_sprite.png') no-repeat 0 -64px;
	width: 239px;
	height: 43px;
	float: left;
	margin-right: 9px;
}
.bodyContent .bar-750{
	background-position: 0 -170px;
}
.bodyContent .bar-750 p {
	padding-left: 175px!important;
}
.bodyContent .bar-1150 {
	background-position: 0 -220px;
}
.bodyContent .bar-1150 p {
	padding-left: 140px!important;
}
.bodyContent .bar-875 {
	background-position: 0 -270px;
}
.bodyContent .bar-875 p {
	padding-left: 186px!important;
}
.bodyContent .bar p {
	font: 14px 'Crete Round', serif;
	color: #fff;
	line-height: 51px;
	padding: 0 0 0 76px;
}
.donateBtn {
	float: left;
	background: url(../images/css_sprite.png) no-repeat -123px -156px;
	width: 94px;
	height: 36px;
	margin: 5px 0 0 0;
}
.donateBtn p {
	font: 14px 'Crete Round', serif;
	text-transform: uppercase;
	line-height: 13px;
}
.donateBtn p a {
	color: #fff;
	padding: 6px 12px 6px 25px;
}
.bodyContent .donateRate {
	font: 14px 'Crete Round', serif;
	color: #666;
	margin: 0;
	float: left;
}
.bodyContent .right {
	padding: 0 0 10px 195px;
}
.moreBtn {
	font-size: 14px;
	background: url('../images/css_sprite.png') no-repeat -421px -79px;
	color: white;
	padding: 6px 15px;
	width: 100px;
	height: 30px;
	margin-right: 5px;
}
.moreBtn:hover {
	background-position: -421px -116px;
}
#pageSection a:hover {
	color: #feffff;
}
.viewAll:hover {
	text-decoration: none;
	color: #d08427!important;
}
.bodyContent span {
	font: 16px 'Crete Round', serif;
}
.footerbg {
	background: url('../images/contentbot-bg.jpg') no-repeat 0 -6px #b87c1d;
	height: 13px;
}
.sectionFooter {
	width: 98%;
	margin: 0 auto;
	margin-right: 0;
	padding: 20px 0 0 0;
}
.sectionFooter h1 {
	margin: 0 0 19px 0;
	text-align: center;
	font: 30px 'Crete Round', serif;
	color: #b87c1d;
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
	padding: 4px 0;
}
.sectionFooter ul {
	margin: 0;
	padding: 0 0 25px 0;
}
.sectionFooter li {
	display: inline-block;
	border-left: 1px solid #ddd;
	padding: 0 8px;
	width: 346px;
	vertical-align: top;
}
.sectionFooter li:first-child {
	border-left: none;
	padding-left: 0;
}
.footerBody h2 {
	margin: 0;
	font-size: 18px!important;
}
.footerBody h2 span {
	color: #000;
}
.footerBody p {
	font: 14px Helvetica;
	color: #666;
}
.footerBody .viewAll {
	font-size: 14px;
	float: right;
	display: block;
	padding-top: 18px;
	text-decoration: underline;
}
.socialMedia {
	width: 100%;
	float: left;
	background: url('../images/bg.gif') repeat; 
}
.socialMedia ul {
	float: left;
	padding: 0;
	margin: 0;
}
.socialMedia li a {
	background: url('../images/social-css_sprite.png') no-repeat 0 0;
	height: 24px;
	width: 124px;
	display: inline-block;
}
.socialMedia li {
	display: inline-block;
	padding: 0 5px 0 0;
}
.socialMedia li.fb a {
	background-position: 0px -66px;
	width: 108px;
}
.socialMedia li.twiter a {
	background-position: 0px -35px;
	width: 108px;
}
.socialMedia li.plus a {
	background-position: 0px 0px;
}