*{
	font-family: arial;
	margin: 0;
	padding: 0;
}

#wrapper{
	margin: auto;
}

#admin-table{
	border: 1px solid #BBB;
	margin: 30px auto;
	width: 1250px;
}

#admin-table th{
	border-bottom: 1px dashed #CCC;
	padding: 3px;
	text-align: left;
	font-size: 13px;
	color: #222;
}

#admin-table td{
	padding: 3px;
	text-align: left;
	font-size: 12px;
}

a{
	text-decoration: none;
	color: green;
}

a:hover{
	color: blue;
}

#admin-form{
	margin: 30px auto;
	border: 1px solid #BBB;
	width: 500px;
	font-size: 14px;
	padding: 7px;
	border-radius: 5px;
}

.form_row{
	margin: 7px;
}

.label{
	display: block;
	float: left;
	text-align: right;
	width: 150px;
	margin-right: 5px;
}

input[type=text]{
	padding: 5px;
	width: 200px;
}

input[type=submit]{
	padding: 5px;
}

textarea{
	resize: none;
	padding: 5px;
	width: 202px;
}

select{
	width: 214px;
	padding: 5px;
}

