#fillform
{
	text-align: left;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #f4f4f4;
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 1px solid #dddddd;
	padding-left: 22px;
	padding-right: 22px;
}
#fillform .formtext
{
	width: 360px;
	height: 28px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	-moz-box-shadow:inset 0px 5px 0px #e7e7e7;
	-webkit-box-shadow:inset 0px 5px 0px #e7e7e7;
	box-shadow:inset 0px 5px 0px #e7e7e7;
	padding: 10px;
	font-family: 'Crete Round', serif;
	font-size:24px;
	
}
#fillform p
{
	text-align: left;
}

#fillform a, .smalltext
{
	font-weight: normal;
	color: #900;
	text-decoration: underline;
	line-height: 1.8em;
	font-size: 15px;
}
.smalltext
{
	text-decoration: none;
}
#fillformbutton
{
	float: left;
	width: 73px;
	height:31px;
	background:url(../images/css_sprite.png);
	background-position:-607px -78px;
	background-repeat:no-repeat;
	border-radius: 4px;
	font-family: 'Crete Round', serif;
	color:rgba(255,255,255,1);
	font-size: 16px;
}
#fillform:hover
{
	background-position:-523px -116px;
}

.divspacer
{
	height: 50px;
}
#content #errmessage {
	font-family: 'Crete Round', serif;
	font-size: 18px;
	font-weight: normal;
	color: #E81919;
	margin-top: -23px;
	display: none;
}
.formtextarea{
	height: 100px;
	resize: none;
	width: 360px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	-moz-box-shadow:inset 0px 5px 0px #e7e7e7;
	-webkit-box-shadow:inset 0px 5px 0px #e7e7e7;
	box-shadow:inset 0px 5px 0px #e7e7e7;
	padding: 10px;
	font-family: 'Crete Round', serif;
	font-size:18px;
}

small{
	font-weight: normal;
	font-style: italic;
}

select{
	width: 382px;
	height: 44px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	-moz-box-shadow:inset 0px 5px 0px #e7e7e7;
	-webkit-box-shadow:inset 0px 5px 0px #e7e7e7;
	box-shadow:inset 0px 5px 0px #e7e7e7;
	padding: 10px;
	font-family: 'Crete Round', serif;
	font-size:18px;
}

.htmlcontent{
	font-family: arial;
	border-radius: 5px;
	border: 1px solid #dddddd;
	height: 400px;
	width: 790px;
	font-size: 13px;
	line-height: 1.5em;
}

#page, #menu, #group{
	border-radius: 5px;
	border: 1px solid #dddddd;
	float: left;
	width: 450px;
	margin-left: 40px;
	box-shadow: 0 0 0 1px white inset, 0 1px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 0 1px white inset, 0 1px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 0 1px white inset, 0 1px 5px rgba(0, 0, 0, .2);
	background: #F5F5F5;
}

#page #page-header, #menu #menu-header, #group #group-header{
	background: #F5F5F5;
	text-align: left;
	padding: 5px 10px 5px;
	color: #666;
	border-bottom: 1px solid #dddddd;
}

#page #page-body ul, #menu #menu-body fieldset ul, #group #group-body fieldset ul{
	list-style: none;
	text-align: left;
	width: 370px;
	margin: 10px auto;
	float: left;
}

#menu #menu-body, #group #group-body{
	margin-top: 20px;
	margin-bottom: 20px;
	background: #F5F5F5;
}

#menu #menu-body fieldset, #group #group-body fieldset{
	width: 400px;
	margin: auto;
	border: 1px solid #DDDDDD;
}

#menu #menu-body fieldset, #group #group-body fieldset{
	text-align: left;
	margin-bottom: 10px;
}

#menu #menu-body fieldset legend, #group #group-body fieldset legend{
	color: #CF8428;
	font-family: 'Crete Round', serif;
	font-weight: bold;
}

#page #page-body ul li, #menu #menu-body fieldset ul li, #group #group-body fieldset ul li{
	border: 1px solid black;
	padding: 4px;
	margin-bottom: 5px;
	cursor: move;
	background: #F4F4F4;
	border: 1px solid #CCC;
	border-radius: 5px;
}	

#menu #menu-body fieldset ul li, #group #group-body fieldset ul li{

}

#page #page-body ul li:hover, #menu #menu-body fieldset ul li:hover, #group #group-body fieldset ul li:hover{
	background: #F5F5F5;
	text-decoration: underline;
}

#page #page-body ul li a, #menu #menu-body fieldset ul li a, #group #group-body fieldset ul li a{
	color: #666;
	font-family: arial;
}

.add-button,.opt-button{
	float: right;
	font-size: 13px;
	line-height: 1.5em;
	margin-left: 8px;
}

.add-button:hover{
	text-decoration: underline;
}

.breadlink{
	text-align: left;
	margin-bottom: 20px;
	padding-left: 20px;
}
