.createNeeds {
	position: relative;
	width: 681px;
	float: right;
	margin: 13px 20px 0 0;
}
.createNeeds h1 {
	font: 28px 'Crete Round', serif;
	color: #cf8428;
	margin: 16px 0;
}
.createNeeds span {
	font: 16px 'Crete Round', serif;
	color: #666;
	width: 500px;
}
.caption{
	width: 470px;
	margin: auto;
}
.boxCneeds {
	margin-top: 10px;
}

.project-name{
	margin-top: 46px;
	font: 18px 'Crete Round', serif;
	color: #cf8428;
	text-align: left;
}
.boxCneeds h2 {
	font: 18px Helvetica, serif !important;
	font-weight: bold!important;
	text-align: left;
	color: #666 !important;
	margin: 0 0 10px 0;
}
.boxCneeds input {
	float: left;
	padding: 0 6px;
	width: 409px;
	height: 34px;
	border: 1px solid #ddd;
	margin-bottom: 19px;

	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 

	-moz-box-shadow: inset 0 4px 0 #e7e7e7;
	-webkit-box-shadow: inset 0 4px 0 #e7e7e7;
	box-shadow: inset 0 4px 0 #e7e7e7;	
}
.boxCneeds .descNeeds {
	min-height: 135px;
	width: 635px;
}
.boxCneeds textarea {
	float: left;
	width: 97%;
	height: 122px;
	border: 1px solid #ddd;
	padding: 7px 9px;
	margin-bottom: 19px;

	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 

	-moz-box-shadow: inset 0 4px 0 #e7e7e7;
	-webkit-box-shadow: inset 0 4px 0 #e7e7e7;
	box-shadow: inset 0 4px 0 #e7e7e7;	
}
.boxCneeds .targetGoal {
	width: 141px;
}
.boxCneeds .descFunds {
	width: 97%;
	resize: none;
}
.boxCneeds .monthDay {
	background: #fff url(../images/ico-calendar.png) no-repeat 97px 9px;
	width: 112px;
	margin-right: 5px;
}

.selectYear {
	float: left;
	padding: 6px 7px;
	height: 33px;
	border: 1px solid #ddd;
	font: 14px Helvetica, serif !important;
	color: #666;
	margin-bottom: 19px;

	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
}
.selectYear option {
	-moz-box-shadow: inset 0 4px 0 #e7e7e7;
	-webkit-box-shadow: inset 0 4px 0 #e7e7e7;
	box-shadow: inset 0 4px 0 #e7e7e7;	
}
.uploadPhoto input {
	border: 0;
	box-shadow: none;
	padding: 0;
	width: 177px;
	height: 23px;
	font-size: 13px;
}
.boxCneeds .tagsKeyword {
	font: 12px Helvetica, serif !important;
	font-style: italic!important;
	float: left;
	padding-bottom: 14px;
}
.boxCneeds .t2 {
	margin: 0;
}
.boxCneeds .inputTags {
	width: 98%;
	margin-top: 7px;
}
.boxCneeds .selectNeed {
	width: 172px;
	height: 33px;
	border: 1px solid #DDD;
	float: left;
	color: #666;
	margin-bottom: 19px;
	padding: 6px 7px;

	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
}
.submitStoryBtn {
	background: url('../images/css_sprite.png') no-repeat -417px -77px;
	padding: 8px 12px;
	color: white;
	font: 14px 'Crete Round', serif;
	float: right;
	margin-bottom: 12px;
}

.saveThumbnail
{
	background: url('../images/css_sprite.png');
	width:174px !important;
	height:33px;
	background-position:-122px -115px;
	background-repeat:no-repeat;
	-moz-box-shadow: inset 0 0px 0 #ffffff!important;
	-webkit-box-shadow: inset 0 0px 0 #ffffff!important;
	box-shadow: inset 0 0px 0 #ffffff!important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
    font-family: 'Crete Round', serif;
    font-size: 14px;
    color: #ffffff;
    border: 0px;
}
.submitStoryBtn:hover {
	background-position: -417px -114px;
	color: #fff;
}

#uploader{
	font: 16px 'Crete Round', serif;
	text-align: center;
	margin: 5px auto;
	margin-left: 115px;
}

#tag-cloud{
	display: block;
	clear:both;
	background: #ffffff;
	border: 1px solid #DDD;
	border-radius: 8px;
	text-align: left;
	padding: 7px;
	margin-top: 10px;
}

#tag-cloud span{
	font-size: 12px;
	border: 1px solid black;
	display: inline-block;
	margin-right: 5px;
	font-family: arial;
	color: #ffffff;
	border: 1px solid #DDD;
	font-style: italic;
	border-radius: 5px;
	background: #CF8428;
	cursor:default;	
}

#tag-cloud span:hover{
	background: #ddd;
	color: #222;
}

#add-tag{
	display: none;
}

.add-more-tags{
	float: left;
	margin-top: 5px;
}

.delete-tag{
	width: 10px;
	border-left: 1px solid #DDD;
	font-style:normal;
	padding-left: 4px;
	padding-right: 4px;
	color: #900;
	cursor: pointer;
}

.name-tag{
	padding-left: 7px;
	padding-right: 10px;
	line-height: 1.5em;
}

#success-submit{
	margin-right: 20px;
}

.sub-label{
	font-family: arial;
	text-align: left;
	margin-bottom: 15px;
	margin-top: -10px;
	font-size: 13px;
	color: #666 !important;
}
