 .s15 {font-size: 15px;}
 .s17 {font-size: 17px;}
 .w70   {width:  70px !important;}
 .w90   {width:  90px !important;}
 .w220 {width: 220px !important;}
 .w240 {width: 240px !important;}
 .w250 {width: 250px !important;}
 .w560 {width: 560px !important;}
 .acenter {text-align: center; width: 100% !important;}
 .left {float: left;}
 .m-left-20 {margin-right: 20px;}
 .tri {
	height: auto;
	width: auto;
	overflow: auto;
 }
 #donate-form  .flds span{
 	font-size: 15px;
	color: #777;
	font-family: arial;
	position: absolute;
	margin-top: 11px;
	margin-left: 7px;
 }
 #donate-form  .flds{
	margin-left: 23px;
	padding: 15px 0;
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
 }
 #donate-form  .ftxt{
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	margin-left: 23px;
 }
 #donate-form  .frst{
	margin-top: 24px;
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	margin-left: 23px;
 }
 #donate-form {
	width: 621px;
	min-height: 200px;
	background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #DDDDDD;
 }
 #donate-content {
	width: 621px;
	margin-left: 300px;
 }
 #donate-sidebar {
	width: 270px;
	float: left;
	text-align: left;
 }
 #cc-cards {
	background-image: url('../images/css_sprite.png');
	width: 255px;
	height: 40px;
	background-position: -328px -165px;
 }
 #donate-form .logintext
{
	width: 105px;
	height: 17px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	-moz-box-shadow:inset 0px 5px 0px #e7e7e7;
	-webkit-box-shadow:inset 0px 5px 0px #e7e7e7;
	box-shadow:inset 0px 5px 0px #e7e7e7;
	padding: 10px;
	font-size: 15px;
	color: #777;
	text-indent: 10px;
	
}