#createNeeds h2 {
	text-align: left;
}
.boxDonation h2 {
	font: 18px Helvetica, serif !important;
	font-weight: bold!important;
	text-align: left;
	color: #666 !important;
	margin: 0 0 10px 0;
}
.boxDonation input {
	float: left;
	padding: 0 6px;
	width: 409px;
	height: 34px;
	border: 1px solid #ddd;
	margin-bottom: 19px;


	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	-khtml-border-radius:8px;
	border-radius: 8px;

	-moz-box-shadow: inset 0 4px 0 #e7e7e7;
	-webkit-box-shadow: inset 0 4px 0 #e7e7e7;
	box-shadow: inset 0 4px 0 #e7e7e7;	
}
.boxDonation .donation {
	width: 104px;
}
.boxDonation .name {
	width: 221px;
}
.boxDonation .email {
	width: 262px;
}
.boxDonation .billing {
	width: 98%;
}
.boxDonation .cityArea {
	width: 236px;
	float: left;
	padding-right: 17px;
}
.boxDonation .cityArea .city {
	width: 220px;
}
.boxDonation .stateArea {
	width: 92px;
	float: left;
	padding-right: 10px;
}
.boxDonation .stateArea .state {
	width: 76px;
}
.boxDonation .zipArea {
	width: 91px;
	float: left;
}
.boxDonation .zipArea .zip {
	width: 76px;
}
.boxDonation .ccInfo {
	width: 144px;
	height: 33px;
	border: 1px solid #DDD;
	float: left;
	color: #666;
	margin-bottom: 19px;
	padding: 6px 7px;

	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
}
.boxDonation .cardNumberArea {
	width: 239px;
	float: left;
	padding-right: 25px;
}
.boxDonation .cardNumberArea .cardNumber {
	width: 223px;
}
.boxDonation .expDateArea {
	width: 180px;
	float: left;
	padding-right: 14px;
}
.boxDonation .expDateArea .expDate {
	width: 80px;
	padding: 6px 7px;
	margin-right: 10px;
}
.boxDonation .expDateArea .expYear {
	width: 88px;
	padding: 6px 7px;
}
.boxDonation .cvCodeArea {
	width: 95px;
	float: left;
}
.boxDonation .cvCodeArea .cvCode {
	width: 71px;
}
.boxDonation textarea {
	float: left;
	width: 97%;
	height: 122px;
	border: 1px solid #ddd;
	padding: 7px 9px;
	margin-bottom: 19px;

	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 

	-moz-box-shadow: inset 0 4px 0 #e7e7e7;
	-webkit-box-shadow: inset 0 4px 0 #e7e7e7;
	box-shadow: inset 0 4px 0 #e7e7e7;	
}
.boxDonation .checkout {
	padding: 8px 23px;
}
#pageAsideDonation {
	padding-top: 147px;
	float: left;
	width: 219px;
	margin-top: 13px;
}
#pageAsideDonation p {
	font: 14px 'Crete Round', serif;
	text-align: left;
	color: #666;
}
.cardsList {
	width: 100%;
}
label.error{
	color: red;
	font-size: 9px;
}
label.error2 {
	margin-left: -60px;
    margin-top: 21px;
    position: absolute;
}
label.error3 {
	margin-left: -40px;
    margin-top: 20px;
    position: absolute;
}
label.error4 {
	margin-left: -180px;
    margin-top: -12px;
    position: absolute;
}
label.error5 {
	margin-left: -89px;
    margin-top: -12px;
    position: absolute;
}
label.error6 {
	margin-left: -92px;
    margin-top: 21px;
    position: absolute;
}
input.normal {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    float: none;
    height: 17px;
    margin: 0;
    padding: 0;
    width: 17px;
	position: absolute;
}
#dialog-ui{
	display: none;
	background: none repeat scroll 0 0 black;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#modal-ui .bot a, #modal-ui .bot2 a{
	text-decoration: underline;
	
}
#modal-ui .bot p.par2, #modal-ui .bot2 p.par2{
	text-align: center;
	margin-left: 0;
}
#modal-ui .bot p, #modal-ui .bot2 p{
	text-align: left;
	margin-left: 29px;
	padding-top: 6px;
	color: #7A7A7A;
}
#modal-ui .bot h1, #modal-ui .bot2 h1{
	font: 25px 'Crete Round', serif;
	color: #CF8428;
	border-bottom: 1px dashed #CCC;
	padding-bottom: 20px;
	width: 90%;
	margin: 0px auto;
	padding-top: 40px;
	text-indent: 20px;
}
#modal-ui .top .close{
	background-image: url("../images/css_sprite.png");
    background-position: 92px -8px;
    height: 25px;
    left: 500px;
    position: absolute;
    top: 16px;
    width: 25px;
	cursor: pointer;
}
#modal-ui .top .logo{
	background-image: url("../images/css_sprite.png");
    background-position: 841px 49px;
    height: 52px;
    left: 40px;
    position: absolute;
    top: 21px;
    width: 330px;
	cursor: pointer;
}
#modal-ui .top{
	height: 100px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #CF8428 0%, #A26B16 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #CF8428 0%, #A26B16 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #CF8428 0%, #A26B16 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CF8428), color-stop(1, #A26B16));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #CF8428 0%, #A26B16 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #CF8428 0%, #A26B16 100%);
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#modal-ui {
	background-clip: padding-box;
    background-color: white;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-radius: 21px 21px 21px 21px;
    color: black;
    height: 380px;
    left: 435px;
    opacity: 1;
    position: absolute;
    top: 279px;
    width: 540px;
    z-index: 111111111;
	display: none;
}
#modal-ui .bot2 {
	display: none;
}
#wait-ui p{
	font-family: 'Crete Round', serif;
	font-size: 21px;
	font-weight: normal;
	color: #CF8428;
	padding-top: 0;
	margin-top: 0;
	
}
#wait-ui {
	width: 500px;
	background: white;
	padding: 46px;
	border-radius: 15px;
	position: absolute;
	z-index: 99999;
	border: 3px solid #999;
	left: 373px;
	top: 263px;
	text-align: center;
	display: none;
}
.boxDonation .raised {
	margin-right: 20px;
	color: green !important;
}
.boxDonation .needed {
	color: red !important;
}