.myNeeds {
	margin: 16px 0 192px 0;
}
.myNeeds ul {
	text-align: left;
	padding: 0;
	margin: 0;
}
.myNeeds li {
	display: block;
	font: 17px 'Crete Round', serif;
	line-height: 29px;
	text-indent: 31px;
}
.myNeeds li.active a {
	background: url(../images/img-needs_bg.jpg) no-repeat right;
	color: #fff !important;
	width: 230px;
}
.myNeeds li a {
	color: #666;
	display: block
}
.myNeeds li:hover a {
	background: url(../images/img-needs_bg.jpg) no-repeat right;
	color: #fff;
	width: 230px;
}
.myNeeds h1 {
	font: 17px 'Crete Round', serif;
	color: #666;
	text-align: left;
	margin: 0;
	text-indent: 31px;
	padding: 4px 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
#pageAside--2 {
	padding-top: 9px;
	float: left;
	width: 219px;
	background: #F4F4F4;
	border: 1px solid #DDD;
	margin-top: 13px;
}
.searchBtn--2 {
	width: 92% !important;
	margin: 0 9px 24px;
}
#completedNeeds {
	position: relative;
	width: 622px;
	float: right;
	margin: 13px 48px 0 0;
	border-top: 1px solid #ddd;
}
#completedNeeds h1 {
	font: 24px 'Crete Round', serif;
	color: #cf8428;
}
#completedNeeds span {
	color: #666;
}
#completedNeeds p {
	font: 18px 'Crete Round', serif;
	color: #666;
}

.popupUpdateStory{
	background: #f4f4f4;
	box-shadow: 0 0 0 1px white inset, 0 1px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 0 1px white inset, 0 1px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 0 1px white inset, 0 1px 10px rgba(0, 0, 0, .2);
	/*margin-left:110px;*/
	padding:20px 10px 10px 10px;
	margin-top:8px;
	display:none;
	width: 510px;
}

.txtareaUpdateStory{
	border: #dddddd;
	-moz-box-shadow:inset 0px 5px 0px #e7e7e7;
	-webkit-box-shadow:inset 0px 5px 0px #e7e7e7;
	box-shadow:inset 0px 5px 0px #e7e7e7;
	-moz-border-radius: 27px;
	-webkit-border-radius: 75px;
	border-radius: 10px;
	width:500px;
	height:50px;
	resize:none;
}

.submitUpdateStory{
	border:none;
	background: url(../images/css_sprite.png) no-repeat -9px -158px;
	margin-left:405px;
	margin-top:5px;
	padding: 5px 30px;
	color: #fff;
	font: 12px 'Crete Round', serif;
	cursor:pointer;
}

.arrow-down {
	position:absolute;
	margin-left:45%;
	margin-top:-4px;
	bottom: -29px;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #f4f4f4;
}

.updateStatusMessage{
	float:right;
	font: 14px 'Crete Round', serif;
	text-align:right;
	padding: 5px 0 5px 0;
}

.needDescription{
	width:450px;
	margin-left:145px;
}

.box {
	background: #f4f4f4;
	border: 1px solid #ddd;
	padding: 15px;
	margin: 0 0 17px 0;
}
.box h1 {
	font: 20px 'Helvetica', serif !important;
	text-align: left;
	margin: 0;
}
.box p {
	font: 14px 'Helvetica', serif !important;
	text-align: left;
}
.box .photoArea {
	height: 203px;
	width: 128px;
	float: left;
	padding-right: 16px;
}
.box .photoArea p {
	font: 12px 'Helvetica', serif !important;
	font-weight: bold !important;
	margin: 1px 0;
	text-align: center;
}
.box .barArea {
	padding-right: 20px;
	width: 238px;
	float: left;
}
.box .barArea p {
	background: url(../images/img-bar.png) no-repeat;
	font: 14px 'Crete Round', serif !important;
	color: #fff!important;
	height: 31px;
	padding: 5px 14px 0 0;
	margin: 0;
	text-align: right;
}
.box .barArea span {
	font: 14px 'Crete Round', serif;
}
.box .target {
	font: 14px 'Crete Round', serif !important;
	color: #aa2424 !important;
	padding-top: 7px;
} 
.storyBtn {
	background: url(../images/css_sprite.png) no-repeat -122px -77px;
	padding: 8px 13px;
	color: #fff;
	font: 14px 'Crete Round', serif;
	float: right;
	marigin-top:100px;
}

.UstoryBtn {
	background: url(../images/css_sprite.png) no-repeat -295px -77px;
	padding: 8px 19px;
	color: #fff;
	font: 14px 'Crete Round', serif;
	float: right;
	margin-bottom: 40px;
	margin-right:10px;
}

.UstoryBtn:hover {
	background-position: -295px -114px;
	color: #fff;
}

.storyBtn:hover {
	background-position: -122px -114px;
	color: #fff;
}
.socialMedia--2 {
	background: none!important;
	width: 365px!important;
	position: absolute;
	top: -27px;
	right: 0;
}
.sort {
	font: 12px 'Helvetica', serif;
	font-weight: bold !important;
	border: 0;
	color: #666;
	float: right;
}
.sortArea {
	position: absolute;
	width: 167px;
	top: -12px;
	right: 0;
	background: #fff;
}
.sortArea p {
	font: 12px 'Helvetica', serif!important;
	margin: 0;
	float: left;
	padding: 3px 0 0 12px;
	text-transform: uppercase;
	font-weight: bold!important;
}


.editThumbs{ font-size: 12px;}
