

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
min-width:550px;
background: rgba(0,0,0,.1);
z-index:2;
padding:12px;
font-size:13px;
border-radius: 10px;
}
#popupContact h1{
text-align:left;
color: #cf8428;
font: 22px 'Crete Round', serif;
font-weight:300;
border-bottom:1px dashed #D3D3D3;
padding-bottom:10px;
width: 445px;
margin: auto;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#button{
text-align:center;
margin:100px;
}
#innerWindow{
	background:#FFFFFF;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;

}


#contactArea{
	width: 445px;
	margin: auto;
	color: #666;
	font-size: 14px;
	line-height: 1.7em;
	border-bottom:1px dashed #D3D3D3;
	padding-bottom: 15px;
}

#popup-label{
	background: url(../images/css_sprite.png);
	width:395px;
	background-position:-6px -5px;
	background-repeat:no-repeat;
	display: block;
	height: 58px;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-top: 10px;
}

#crop-id{
	background: #cf8428;
	color: #FFF;	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
	font: 14px 'Crete Round', serif;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 40px;
}
