#content.story {
	margin-top:0px;
	padding-top:0px;
	background:#FFF;
}
#content #widget_left .widget_content .widget_add.h110x{height: 110px;}
#content #widget_left .widget_content .widget_add.w200x{width: 200px;}
#content #widget_left .widget_content .widget_add p{
	font-family: 'Crete Round',serif;
    font-size: 27px;
	padding-top: 10px;
	color: #FFF;
}
#content #widget_left .widget_content .widget_add{
	margin:10px;
	background: #868686;
}
#content #widget_right .widget_content{
	width: 743px;
	min-height: 200px;
	float: left;
}
#content #widget_left .widget_content{
	width: 218px;
	min-height: 200px;
	background:#f4f4f4;
	border: 1px solid #dddddd;
	margin-left: 20px;
	float: left;
}
#contentTop .c_widget.left .c_widget_1{
	height: 250px;
	width:440px;
	background: #000;
}
#contentTop .c_widget.left{
	width: 440px;
	height: 300px;
	margin-top: 26px;
	background: #FFF;
	float: left;
}
#contentTop .c_widget.right .feat_area .feat_area_top h1{	
	padding-top: 25px;
	font-size: 30px; font-family: 'Crete Round', serif;
}
#contentTop .c_widget.right .feat_area .feat_area_bot p.readmore a {
	color: #FFF;
	margin-left: 3px;
	font-size: 16px;
	cursor: pointer;
}
#contentTop .c_widget.right .feat_area .feat_area_bot p.readmore {
	padding-top: 3px;
	background: url(../images/css_sprite.png);
	background-position: -10px -78px;
	width: 110px;
	height: 34px;
	cursor: pointer;
	text-align: center;
}
#contentTop .c_widget.right .feat_area .feat_area_bot p.firstP {
	padding-top: 10px;
}
#contentTop .c_widget.right .feat_area .feat_area_bot p {
	font-family: 'Crete Round', serif;
	font-size:20px;
	color: #b87c1d;
}
#contentTop .c_widget.right .feat_area .feat_area_top h1,
#contentTop .c_widget.right .feat_area .feat_area_top p {
	color: #FFF;
}
#contentTop .c_widget.right .feat_area .feat_area_top h1,
#contentTop .c_widget.right .feat_area .feat_area_top p,
#contentTop .c_widget.right .feat_area .feat_area_bot p{
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-left: 30px;
	margin-right: 25px;
	font-weight: normal;
}
#contentTop .c_widget.right .feat_area .feat_area_top{
	width: 540px;
	height: 163px;
	background: #CF8328;
}
#contentTop .c_widget.right .feat_area .feat_area_bot{
	width: 540px;
	height: 133px;
	background: #FFF;
}
#contentTop .c_widget.right .feat_area{
	width: 539px;
	height: 295px;
	margin-top: -25px;
	background:#FFF;
	float: right;
	-moz-box-shadow: 0px 0px 11px #000000;
	-webkit-box-shadow: 0px 0px 11px black;
	box-shadow: 0px 0px 11px silver;
}
#contentTop .c_widget.right{
	width: 560px;
	height: 325px;
	float: left;
	background: white;
	margin-top: 25px
}
#contentTop {
	width: 100%;
	height: 320px;
	background: transparent;
	padding-top: 15px;
}
#contentTop div p,#contentTop div h1 {
	margin: 0px;
}
#contentTop .c_widget.right .feat_left_border{
	width: 21px;
	height: 100%;
	background: url(../images/css_sprite.png);
	background-position: -632px -285px;
	float: left;
	margin-top: -25px;
}
.money {
	color: black;
}

