#content
{
	text-align: left;
}
#contentHeader h1
{
	text-align: center;
}
#content h2
{
	margin-top: 15px;
	font-size: 28px;
	margin-bottom: 20px;
}
#content h4
{
	margin-top: -20px;
	margin-bottom: 8px;
	font-family: 'Crete Round', serif;
	font-size:15px;
	font-weight: normal;
	color: #666666;
}
#contentArea
{
	text-align:left;
}
.contentWrapper
{
	width: 97%;
	margin-left: auto;
	margin-right:auto;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
	color: #666666;
	font-weight:100;
}
#studentNeedsTitle
{
	height: 79px;
}
#studentNeedsTitleleft
{
	width: 800px;
	float: left;
}
#studentNeedsTitleRight
{
    display: table-cell;
    vertical-align: middle;
	width: 170px; 
	font-size:14px;
	height: 79px;
	text-align: right;
}
#studentNeedsTitleRight a
{
	text-decoration: underline;
	color: #666666;
}
#studentNeedsTitleRight a:hover
{
	text-decoration: none;
}


/* -----2 columns -----------*/
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 0 0;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#ffffff;		/* right column background colour */
}
.rightmenu .colleft {
	right:25%;			/* right column width */
	background:#fff;		/* left column background colour */
	border-right: 1px solid #dddddd;
}
.rightmenu .col1 {
	width:75%;			/* left column content width (left column width minus left and right padding) */
	left:25%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:25%;			/* right column content width (right column width minus left and right padding) */
	left:25%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	padding-top: 0px;

/*	border: 1px solid #ffffff;*/
}
.rightmenu .col1 p
{
	padding-right: 5px;
	
}

#needsBanner
{
	width: 710px;
	height: 200px;
	background: #b6b6b6;
	font-family: 'Crete Round', serif;
	font-size:23px;
	color:#FFFFFF;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

#donatePanel
{
	width: 210px; 
	height: 180px;
	display: table-cell;
	border: 1px solid #dddddd;
	text-align: right;
	background: #f4f4f4;
	font-family: 'Crete Round', serif;
	color: #000000;
	white-space:nowrap;
	display: inline-block;
	padding: 10px;
	margin-left: 8px;
}

#donatePanel input
{
	clear: none;
	display: inline-block;
}

#donateValue
{
	height: 30px;
	width: 28px;
	background: url(../images/css_sprite.png) #ffffff;
	background-position:-827px -5px;
	background-repeat:no-repeat;
	font-family: 'Crete Round', serif;
	font-size: 16px;
	border: 1px solid #bfbfbf;
	padding-left: 22px;
}

#donateButton {
	width:96px;
	height:36px;
	display:block;
	background: url(../images/css_sprite.png);
	background-position:-121px -158px;
	background-repeat:no-repeat;
	border: 0px;
	font-family: 'Crete Round', serif;
	font-size: 15px;
	color: #ffffff;
	cursor: pointer;
}
#donateButton:hover {
   background-position:-121px -195px 
}

#shareThis 
{
	width:97px;
	height:37px;
	background:url(../images/css_sprite.png);
	background-position:-227px -158px;
	background-repeat:no-repeat;
	display:block;
	border-radius: 5px;
	border: 0px;
	font-family: 'Crete Round', serif;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
}

#pastNeedsArea
{
	margin-top: 10px;
	height: 100%;
	margin-left: 10px;
}

#pastNeedsArea h3
{
	font-weight: normal;
	font-size: 17px;
	
}
#pastNeedsArea h3 a
{
	text-decoration: underline;
}

.firstDark {
	font-weight: bold;
}
#donatePanelWhite
{
    background: #ffffff;
    min-height: 220px;
}

.projectinfobox
{
	min-height: 52px;
	margin-bottom: 20px;
	cursor: pointer;
}
.projectinfobox:hover
{
	background: #f6f6f6;
}

.projectinfothumbnails
{
    display: table-cell;
    background: #b6b6b6;
    width: 50px;
    height: 50px;
    float: left;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-family: 'Crete Round', serif;
	
}

.projectinfoText
{
    padding-left: 56px;
    font-family: 'Crete Round', serif;
}

.projectinfoText a
{
    color: #cf8428;
    text-decoration: none;
}

/* Newly added*/
.mainContent {
	width: 96%;
	margin: 0 auto;
}

#pageAside {
	float: left;
	padding: 9px;
	width: 199px;
	background: #f4f4f4;
	border: 1px solid #ddd;
	margin-top: 13px;
}

.advertise {
	background: #868686;
	width: 200px;
	margin: 0 auto;
	padding: 7px 0 28px 0;
	margin-bottom: 14px;
}

.advertise h1 {
	color: #fff;
	font: 27px 'Crete Round', serif;
	margin: 0;
}

.advertise--2 {
	padding: 24px 0 78px;
	margin-bottom: 26px;
}

.searchBtn {
	width: 100%;
	height: 48px;
	margin-bottom: 5px;
	padding-bottom: 24px;
	background: url(../images/img-seperator.jpg) repeat-x bottom;
}

.searchBtn p {
	font: 24px 'Crete Round', serif;
	margin: 0;
	line-height: 48px;

	background: #ce8327; /* Old browsers */
	background: -moz-linear-gradient(top,  #ce8327 0%, #a46d17 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce8327), color-stop(100%,#a46d17)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ce8327 0%,#a46d17 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ce8327 0%,#a46d17 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ce8327 0%,#a46d17 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ce8327 0%,#a46d17 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce8327', endColorstr='#a46d17',GradientType=0 ); /* IE6-9 */

 	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
  	border-radius: 6px; 
  	border: 1px solid #8C8C8C;
  	box-shadow: inset 0 1px 0px 0px #E7C194;
  	-moz-box-shadow: inset 0 1px 0px 0px #E7C194;
  	-webkit-box-shadow: inset 0 1px 0px 0px #E7C194;
}

.searchBtn p a {
	color: #fff;
	padding: 7px 25px;
}
.date {
	float: left;
}
.date h1 {
	font: 18px 'Crete Round', serif;
	color: #cf8328;
	margin: 0;
	text-align: left;
	padding-bottom: 17px
}
.date form {
	text-align: left;
	font: 12px 'Helvetica', serif;
	font-weight: bold;
	color: #666;
	padding-bottom: 6px;
}

.school {
	width: 179px;
	float: right;
}
.school p {
	font: 12px 'Helvetica', serif;
	text-align: left;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}
.school .inputSchool {
	border: 1px solid #bbb;
	font: 12px 'Helvetica', serif;
	color: #666;
	width: 93%;
	padding: 5px 5px;
}
.school ul {
	float: left;
	display: block;
	padding: 0;
	margin: 0 0 24px 0;
}
.school li {
	display: block;
	text-align: left;
	font: 12px 'Helvetica', serif;
	color: #666;
	line-height: 20px;
}
.school input {
	margin: 0 3px 0 0;
}
.selectState {
	text-align: left;
	display: block;
	margin-bottom: 6px;
	color: #666;
	font-size: 12px;
}
.searchTag {
	float: left;
	width: 93%;
	padding: 5px 5px;
	border: 1px solid #BBB;
	margin-bottom: 13px!important;
}
.borderBottom {
	background: url('../images/img-seperator.jpg') repeat-x bottom;
	height: 2px;
	margin-bottom: 29px;
}