/* css used in studentSingleNeeds_view.php */

#content
{
	text-align: left;
	
}
#contentHeader h1
{
	text-align: center;
}
#content h2
{
	margin-top: 15px;
	font-size: 28px;
	margin-bottom: 20px;
}
#content h4
{
	margin-top: -20px;
	margin-bottom: 8px;
	font-family: 'Crete Round', serif;
	font-size:15px;
	font-weight: normal;
	color: #666666;
	
}
#contentArea
{
	text-align:left;
}
.contentWrapper
{
	width: 97%;
	margin-left: auto;
	margin-right:auto;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
	color: #666666;
	font-weight:100;
}
#studentNeedsTitle
{
	height: 79px;
}
#studentNeedsTitleleft
{
	width: 800px;
	float: left;
}
#studentNeedsTitleRight
{
    display: table-cell;
    vertical-align: middle;
	width: 170px; 
	font-size:14px;
	height: 79px;
	text-align: right;
}
#studentNeedsTitleRight a
{
	text-decoration: underline;
	color: #666666;
}
#studentNeedsTitleRight a:hover
{
	text-decoration: none;
}


/* -----2 columns -----------*/
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 0 0;
	overflow:hidden;
}


/* 2 Column (right menu) settings */
.rightmenu {
	background:#ffffff;		/* right column background colour */
}
.rightmenu .colleft {
	right:25%;			/* right column width */
	background:#fff;		/* left column background colour */
	border-right: 1px solid #dddddd;
}
.rightmenu .col1 {
	width:75%;			/* left column content width (left column width minus left and right padding) */
	left:25%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:25%;			/* right column content width (right column width minus left and right padding) */
	left:25%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	padding-top: 0px;

/*	border: 1px solid #ffffff;*/
}
.rightmenu .col1 p
{
	padding-right: 12px;
	
}

#needsBanner
{
	width: 710px;
	height: 200px;
	background: #b6b6b6;
	font-family: 'Crete Round', serif;
	font-size:23px;
	color:#FFFFFF;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
#donatePanel
{
	width: 210px; 
	height: 180px;
	display: table-cell;
	border: 1px solid #dddddd;
	text-align: right;
	background: #f4f4f4;
	font-family: 'Crete Round', serif;
	color: #000000;
	white-space:nowrap;
	display: inline-block;
	padding: 10px;
	margin-left: 8px;
}
#donatePanel input
{
	clear: none;
	display: inline-block;
}

#donateValue
{
	height: 30px;
	width: 50px;
	background: url(../images/css_sprite.png) #ffffff;
	background-position:-827px -5px;
	background-repeat:no-repeat;
	font-family: 'Crete Round', serif;
	font-size: 20px;
	color: gray;
	border: 1px solid #bfbfbf;
	padding-left: 5px;
}

.torch-small,.torch-need{
	width:12px;
	height:26px;
	float: left;
	position: absolute;
	margin-top:-45px;	
	margin-left:13px;
}

.torch-bg{
	width:12px;
	height:26px;
	background: url('../images/css_sprite.png') -814px -8px no-repeat;
	float: right;

}

#donateButton {
	width:96px;
	height:36px;
	display:block;
	background: url(../images/css_sprite.png);
	background-position:-121px -158px;
	background-repeat:no-repeat;
	border: 0px;
	font-family: 'Crete Round', serif;
	font-size: 15px;
	color: #ffffff;
	cursor: pointer;
}
#donateButton:hover {
   background-position:-121px -195px 
}

#shareThis 
{
	width:97px;
	height:37px;
	background:url(../images/css_sprite.png);
	background-position:-227px -158px;
	background-repeat:no-repeat;
	display:block;
	border-radius: 5px;
	border: 0px;
	font-family: 'Crete Round', serif;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
	
}

#pastNeedsArea
{
	margin-top: 10px;
	height: 100%;
	margin-left: 10px;
}

#pastNeedsArea h3
{
	font-weight: normal;
	font-size: 17px;
	
}
#pastNeedsArea h3 a
{
	text-decoration: underline;
}

.firstDark {
	font-weight: bold;
}
#donatePanelWhite
{
    background: #ffffff;
    min-height: 220px;
}

#progressBar, .meter-need{ 
	height: 20px;  
	width: 200px;
	background: #ebebeb;
	-moz-border-radius: 27px;
	-webkit-border-radius: 75px;
	border-radius: 27px;
	padding: 6px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
	float: left;
	margin-top:13px;
	margin-right: 10px;
}

.progressBar-inner-meter, .meter-inner-need{
	position: relative;
	overflow: hidden;
	background-color: #d9d9d9;
	height: 100%;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0px 11px 8px -4px #b9b9b9;
	-webkit-box-shadow: inset 0px 11px 8px -4px #b9b9b9;
	box-shadow: inset 0px 11px 8px -4px #b9b9b9;
}

.progressBar-inner-meter > span, .meter-inner-need > span{
	display: block;
	height: 100%;
	width:0%;
	-webkit-border-top-left-radius: 22px;
	-webkit-border-bottom-left-radius: 22px;
	-moz-border-radius-topleft: 22px;
	-moz-border-radius-bottomleft: 22px;
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
	background-color: #C77E26;
	background-image: -moz-linear-gradient(top, #CE8327, #8B5516);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CE8327),color-stop(1, #8B5516));
	background-image: -webkit-linear-gradient(#CE8327, #8B5516); 
	-webkit-box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	moz-box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.animate > span:after { display: none; }

.progressBar-inner-meter strong, .meter-inner-need strong{
	font: 17px 'Crete Round', serif;
	margin: 0;
	color: #FFFFFF;
	line-height: 1em;
	margin-right: 10px;
	float: right;

}

.donateRate{
	font: 14px 'Crete Round', serif;
	color: #666;
	margin: 0;
	float: left;
}

.right{
	float:right;
	padding-bottom: 10px;
}

.projectinfobox
{
	min-height: 52px;
	margin-bottom: 20px;
	cursor: pointer;
}
.projectinfobox:hover
{
	background: #f6f6f6;
}

.projectinfothumbnails
{
    display: table-cell;
    background: #b6b6b6;
    width: 50px;
    height: 50px;
    float: left;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-family: 'Crete Round', serif;
	
}

#updates{
    color: #cf8428;
	font-size:16px;
}

.updates{
	border:1px solid #dddddd;
	-moz-border-radius: 27px;
	-webkit-border-radius: 75px;
	border-radius: 10px;
	width:630px;
	margin-left:50px;
	padding: 10px 15px 15px 15px;
	margin-top:20px;
}

.updatesDate{
	margin-top:10px;
}

.updatesBottom{
	margin-right:18px;
	margin-top:10px;
}
.updatesBottom-in{
	padding:1px 1px 1px 10px;
	background:#ddd;
}

.updatesBottom-in-name{
	color:#cf8428;
	
}

.updatesBottom-in-content{
	padding:5px 5px 5px 10px;
}

.projectinfoText
{
    padding-left: 56px;
    font-family: 'Crete Round', serif;
}

.projectinfoText a
{
    color: #cf8428;
    text-decoration: none;
}

.clear{height:0;clear:both;}
.page-box-content2 pre {
	font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
}