#content {
	height: 900px;
} 
#content .loginmessage p{
	font-family: 'Crete Round', serif;
	color: #CF8428;
	text-decoration: none;
	text-align: center;
 }
#content #profile-sidebar {
	float: left;
	width: 300px;
}
#content #profile .user-menu li.current span {
	color:#F7FFD8;
}
#content #profile .user-menu li span:hover{
	color:#FFF;
}
#content #profile .user-menu li span{
	padding: 0px 15px 0px 15px;
	display: block;
	float: left;
	border-left: 1px solid #999;
	border-right: 1px solid #777;
	text-shadow: 1px 1px 2px #090909;
	cursor: pointer;
	font-family: 'Crete Round', serif;
	margin-top: 5px;
}
#content #profile .user-menu{
	background-color: #868686;
	margin: 10px 20px 0px 20px;
	height: 30px;
}
#content #profile {
	background: #F4F4F4;
	border: 1px solid #DDD;
	width: 600px;
	float: right;
	margin-right: 15px;
}
#content #profile .profile-content .ucontent.udefault{ display: block;}
#content #profile .profile-content .ucontent{
	margin: 0px 20px 0px 20px;
	min-height: 200px;
	background-color: #DBDBDB;
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	display: none;
	margin-bottom: 20px;
}
#content #profile .profile-content .user-menu li{
	display: inline;
	color: #FFF;
 }
#prof-info{padding-top: 10px;}
#prof-info .txt, #prof-info .lbl,  #prof-info .inp {
	float: left;
}
 #prof-info .pnl.end {
	margin-bottom: 35px;
 }
 #prof-info .pnl {
	width: 94%;
	height: 30px;
	margin: 0px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #888;
 }
 #prof-info .inp input {
	border: 1px solid #B3B3B3;
	margin-top: 5px;
	font-family: 'Crete Round', serif;
	width: 180px;
	text-indent: 5px;
	height: 20px;
 }
 #prof-info .txt, #prof-info .lbl{
	padding-top: 5px;
	font-family: 'Crete Round', serif;
	text-shadow: 1px 1px 1px #9E9E9E;
 }
 #prof-info .lbl {
	color: #005CFF;
	display: none;
 }
 #prof-info .txt {
	width: 100px;
	color: #4E4E4E;
}
#user-save {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}
#btn-user-save:hover {
	background-color:#A3A3A3;
}
#btn-user-save {
	border: 1px solid #727272;
	padding: 10px 45px;
	border-radius: 10px;
	background-color: #858585;
	color: white;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
}