#loginbox,#signupPage
{
	text-align: left;
	width: 316px;
	margin-left: auto;
	margin-right: auto;
	background: #f4f4f4;
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #dddddd;
	padding-left: 22px;
	padding-right: 22px;
}
#loginbox .logintext, #signupPage .logintext
{
	width: 290px;
	height: 28px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	-moz-box-shadow:inset 0px 5px 0px #e7e7e7;
	-webkit-box-shadow:inset 0px 5px 0px #e7e7e7;
	box-shadow:inset 0px 5px 0px #e7e7e7;
	padding: 10px;
	font-family: 'Crete Round', serif;
	font-size:24px;
	
}
#loginbox p,#signupPage p
{
	text-align: left;
}

#loginbox a, .smalltext
{
	color: #8a8a8a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}
.smalltext
{
	text-decoration: none;
}
#loginbutton
{
	float: right;
	width: 73px;
	height:31px;
	background:url(../images/css_sprite.png);
	background-position:-607px -78px;
	background-repeat:no-repeat;
	border-radius: 4px;
	font-family: 'Crete Round', serif;
	color:rgba(255,255,255,1);
	font-size: 16px;
}
#loginbutton:hover
{
	background-position:-523px -116px;
}
#signupButton
{
	float: right;
	width: 84px;
	height:33px;
	background:url(../images/css_sprite.png);
	background-position:-523px -78px;
	background-repeat:no-repeat;
	border-radius: 4px;
	font-family: 'Crete Round', serif;
	color:rgba(255,255,255,1);
	font-size: 16px;
}
#signupButton:hover
{
	background-position:-523px -115px;
}
.divspacer
{
	height: 50px;
}