body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../images/bg.gif);
}
a{
	font-family: 'Crete Round', serif;
	color: #cf8428;
	text-decoration: none;
}
a:hover{
	color: #815714;
}
.creteRound
{
	font-family: 'Crete Round', serif;
}
header
{
	width: 100%;
	min-height: 160px;
	background: url(../images/header-css_sprite.png) #fefefe;
	background-position: 0px 40px;
	background-repeat:repeat-x;
}
#headerdark
{
	width: 100%;
	min-height: 12px;
	background:  #2d2d2d
}
#headerdarkContent
{
	background: url(../images/headerDark-css_sprite.png);
	background-position: 19px 0px;
	background-repeat: repeat-y;
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	min-height: 12px;
}
#headerLight
{
	width: 1016px;
	height: 148px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
}

#logo/*div:nth-child(1)*/
{
	width: 404px;
	height: 70px;
	background:url(../images/css_sprite.png);
	background-position: 0px 19px;
	margin-left: 50px;
	padding-top: 20px;
	display:block;
	text-decoration: none;
}
#ribbon {
	width:99px;
	height:78px;
	background:url(../images/css_sprite.png);
	background-position:-447px -387px;
	z-index: 1;
	display:inline-block;
	background-repeat:no-repeat;
	display: block;
	float:left;
	margin-top: -32px;
}
#ribbonleft
{
	background: url(../images/headerDark-css_sprite.png);
	background-position: 19px 0px;
	background-repeat: repeat-y;
	width:99px;
	height:90px;
	display: block;
	float:left;
	z-index: 2;
}
#upperRight
{
	width: 325px;
	float: right;
	margin-top: -69px;
	margin-right: 0px;
	color: #cf8428;
	text-align: right;
	font-family: 'Crete Round', serif;
}
#upperRight div:nth-child(0)
{
	visibility: hidden;
}
#upperRight a
{
	font-size: 16px;
}
#linkContainer
{
	margin-top: -3px;
	font-family: 'Crete Round', serif;
	color: #cf8428;
	font-size: 19px;
	width: 100%;
}
#linkContainer ul li 
{
	display: block;
	float: left;
	
}
#linkContainer ul li .withoutborder
{
	padding-left: 22px;
	padding-right: 22px;
	display:table-cell;
	vertical-align: middle;
	height: 48px;
}
#linkContainer ul li .withborder
{
	padding-left: 22px;
	padding-right: 22px;
	background:url(../images/border.gif);
	background-repeat: no-repeat;
	height: 48px;
	display:table-cell;
	vertical-align: middle;
}
.socialButton
{
	width:25px;
	height:25px;
	background: url(../images/css_sprite.png);
	display:inline-block;
	background-repeat:no-repeat;
	display: block;
	float: left;
	border-radius: 3px;
}
#facebook 
{
	background-position:-411px -11px;
}
#twitter
{
	background-position:-443px -11px;
	margin-left: 8px;
}
#googleplus
{
	background-position:-473px -11px;
	margin-left: 8px;
}

#websiteSearchinput
{
	outline: none;
	background-color: #fff;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(94, 94, 94, .7);
	box-shadow: inset 0px 1px 1px 1px rgba(94, 94, 94, .7);
	height: 26px;
	width: 131px;
	padding-left: 30px;
	font-family: 'Crete Round', serif;
	font-size:16px;
	color: #ababab;
	background:url(../images/css_sprite.png);
	background-position: -693px -570px;
}

#searchButton 
{
	width:41px;
	height:27px;
	background:url(../images/css_sprite.png);
	background-position: -682px -78px;
	background-repeat:no-repeat;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-family: 'Crete Round', serif;
	color: #ffffff;
	font-size: 16px;
}
#searchButton:hover
{
	background-position: -682px -118px;
}

#contentArea
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
#content
{
	min-height: 400px;
	background: rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 11px #000000;
	-webkit-box-shadow: 0px 0px 11px #000000;
	box-shadow: 0px 0px 11px #c0c0c0;
	text-align:center;
	margin-top: 15px;
}
#content h2
{
	font-family: 'Crete Round', serif;
	font-size: 24px;
	font-weight: normal;
	color: #cf8428;
}
#socialSpace
{
	
}
#contentHeader
{
	background: #cf8428;
	height: 82px;
	z-index: 2;
}
#contentHeader h1
{
	display: table-cell;
	float: left;
	width:276px;
	height: 75px;
	background:url(../images/css_sprite.png);
	background-position:-10px -274px;
	background-repeat:no-repeat;
	margin-top: -12px;
	vertical-align: bottom;
	padding-top: 30px;
	font-family: 'Crete Round', serif;
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
}


footer
{
	width: 100%;
	min-height: 202px;
	background: #fefefe;
	margin-top: 15px;
	margin-bottom: -28px;
	background: url(../images/header-css_sprite.png) #fefefe;
	background-position: 0px -61px;
	background-repeat:repeat-x;
	font-family: 'Crete Round', serif;
	font-size:14px;
}
#footerContent
{
	margin-left: auto;
	margin-right:auto;
	width: 1000px;
}
#footerLink 
{
	margin-left: auto;
	margin-right:auto;
	padding-top: 15px;
	width: 700px;
	font-size:14px;
}
#footerLink  ul li
{
	float: left;
	list-style: none;
	padding-right: 5px;
	text-decoration: underline;
	color: #b87c1d;
}
#footerLink  ul li a.footerLinkLine
{
	border-left: 1px solid #b87c1d;
	padding-left: 5px;
}
#footerRibbon
{
	width:99px;
	height:78px;
	background:url(../images/css_sprite.png);
	background-position:-447px -387px;
	z-index: 1;
	display:inline-block;
	background-repeat:no-repeat;
	display: block;
	float:left;
	margin-top: -32px;
	margin-left: 30px;
}
#footerLogo 
{
	width:318px;
	height:61px;
	background:url(../images/css_sprite.png);
	background-position:-8px -501px;
	display:inline-block;
	background-repeat:no-repeat;
	
}
#footerColumn1
{
	width: 300px;
	float: left;
	margin-top: 40px;
}
#footerColumn1 a
{
	color: #666666;
	font-size: 12px;
}
#footerColumn2
{
	width: 430px;
	float: left;
	text-align: center;
	margin-top: 20px;
}
#footerColumn3
{
	width: 265px;
	float: right;
	margin-top: 40px;
	text-align: right;
	color: #ababab;
}
#footerDark
{
	margin-top: 190px;
	width: 100%;
	min-height: 12px;
	background:  #2d2d2d
}
