#content
{
	text-align: left;
	
}
#contentHeader h1
{
	text-align: center;
}
#content h2
{
	margin-top: 15px;
	font-size: 28px;
	margin-bottom: 20px;
}
#content h4
{
	margin-top: -20px;
	margin-bottom: 8px;
	font-family: 'Crete Round', serif;
	font-size:15px;
	font-weight: normal;
	color: #666666;
	
}
#contentArea
{
	text-align:left;
}
.contentWrapper
{
	width: 97%;
	margin-left: auto;
	margin-right:auto;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
	color: #666666;
	font-weight:100;
}
#studentNeedsTitle
{
	height: 79px;
}
#studentNeedsTitleleft
{
	width: 800px;
	float: left;
}
#studentNeedsTitleRight
{
    display: table-cell;
    vertical-align: middle;
	width: 170px; 
	font-size:14px;
	height: 79px;
	text-align: right;
}
#studentNeedsTitleRight a
{
	text-decoration: underline;
	color: #666666;
}
#studentNeedsTitleRight a:hover
{
	text-decoration: none;
}


/* -----2 columns -----------*/
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 0 0;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#ffffff;		/* right column background colour */
}
.rightmenu .colleft {
	right:25%;			/* right column width */
	background:#fff;		/* left column background colour */
	border-right: 1px solid #dddddd;
}
.rightmenu .col1 {
	width:75%;			/* left column content width (left column width minus left and right padding) */
	left:25%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:25%;			/* right column content width (right column width minus left and right padding) */
	left:25%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	padding-top: 0px;

/*	border: 1px solid #ffffff;*/
}
.rightmenu .col1 p
{
	padding-right: 5px;
	
}

#needsBanner
{
	width: 710px;
	height: 200px;
	background: #b6b6b6;
	font-family: 'Crete Round', serif;
	font-size:23px;
	color:#FFFFFF;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
#donatePanel
{
	width: 210px; 
	height: 180px;
	display: table-cell;
	border: 1px solid #dddddd;
	text-align: right;
	background: #f4f4f4;
	font-family: 'Crete Round', serif;
	color: #000000;
	white-space:nowrap;
	display: inline-block;
	padding: 10px;
	margin-left: 8px;
}
#donatePanel input
{
	clear: none;
	display: inline-block;
}

#donateValue
{
	height: 30px;
	width: 28px;
	background: url(../images/css_sprite.png) #ffffff;
	background-position:-827px -5px;
	background-repeat:no-repeat;
	font-family: 'Crete Round', serif;
	font-size: 16px;
	border: 1px solid #bfbfbf;
	padding-left: 22px;
}

#donateButton {
	width:96px;
	height:36px;
	display:block;
	background: url(../images/css_sprite.png);
	background-position:-121px -158px;
	background-repeat:no-repeat;
	border: 0px;
	font-family: 'Crete Round', serif;
	font-size: 15px;
	color: #ffffff;
	cursor: pointer;
}
#donateButton:hover {
   background-position:-121px -195px 
}

#shareThis 
{
	width:97px;
	height:37px;
	background:url(../images/css_sprite.png);
	background-position:-227px -158px;
	background-repeat:no-repeat;
	display:block;
	border-radius: 5px;
	border: 0px;
	font-family: 'Crete Round', serif;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
}

#pastNeedsArea
{
	margin-top: 10px;
	height: 100%;
	margin-left: 10px;
}

#pastNeedsArea h3
{
	font-weight: normal;
	font-size: 17px;
	
}
#pastNeedsArea h3 a
{
	text-decoration: underline;
}

.firstDark {
	font-weight: bold;
}
#donatePanelWhite
{
    background: #ffffff;
    min-height: 220px;
}

.projectinfobox
{
	min-height: 52px;
	margin-bottom: 20px;
	cursor: pointer;
}
.projectinfobox:hover
{
	background: #f6f6f6;
}

.projectinfothumbnails
{
    display: table-cell;
    background: #b6b6b6;
    width: 50px;
    height: 50px;
    float: left;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-family: 'Crete Round', serif;
	
}

.projectinfoText
{
    padding-left: 56px;
    font-family: 'Crete Round', serif;
}

.projectinfoText a
{
    color: #cf8428;
    text-decoration: none;
}